collatz/target
collatz/collatz
transpose/target
transpose/transpose
geometry/target
geometry/geometry
expressions/target
expressions/expressions
generic-logger/target
generic-logger/generic-logger
generic-min/target
generic-min/generic-min
elevator-events/target
elevator-events/elevator-events
counter/target
counter/counter
rot13/target
rot13/rot13
memory-management/target
memory-management/memory-management
binary-tree/target
binary-tree/binary-tree
health-statistics/target
health-statistics/health-statistics
bazel-*
.bazelrc.*secrets
hello-world/hello
