collatz/target
collatz/collatz
transpose/target
transpose/transpose
geometry/target
geometry/geometry
expressions/target
expressions/expressions
generic-logger/target
generic-logger/generic-logger
generic-min/target
generic-min/generic-min
counter/target
counter/counter
bazel-*
.bazelrc.*secrets
hello-world/hello
